@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --font-ExCharis: 'Charis SIL', serif;
}

html,
body {
  font-size: 62.5%;
}
body {
  background-color: #ededed;
}

/* ======= navbar css */

header {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  z-index: 1;
  padding-left: 4rem;
  padding-right: 4rem;
}

.h-banner {
  background-color: #2042b6;
  height: 100vh;
  position: relative;
}

.share-btn {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.share-btn img {
  width: 1.8rem;
}

.downloadbtn {
  border: 1px solid #fff;
  padding: 1.5rem 1.7rem !important;
  display: block;
  font-size: 1.5rem;
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
}
.downloadbtn:hover {
  color: #fff;
}
#navbarNavDropdown {
  position: relative;
}

.menu-toogle {
  position: absolute;
  background-color: #fff;
  width: 390px;
  height: 500px;
  border-radius: 8px;
  top: -30px;
  padding-right: 1rem;
  right: -40px;
  opacity: 0;
  pointer-events: none;
  padding-left: 2rem;
  transition: all 0.5s;
  transition-duration: 0.5s;
}
.menu-toogle.active {
  opacity: 1;
  pointer-events: all;
}

.menu-toogle-div {
  padding-top: 3rem;
}
.menu-toogle-div .share-btn {
  background: #afcd80;
}

.menu-toogle-div .downloadbtn {
  background-color: #2042b6;
}

.items {
  margin-top: 4rem;
}
.items ul {
  padding-left: 1rem;
}
.items ul li {
  list-style: none;
  padding-left: 0;
  margin: 2rem 0;
}
.items ul li a {
  font-size: 1.7rem;
  color: #111;
  display: block;
  font-weight: 400;
  text-decoration: none;
}
.items div a {
  font-size: 2rem;
  padding-left: 1rem;
  font-family: var(--font-ExCharis);
  text-decoration: none;
  margin-top: 4rem;
  display: block;
}

.line-chart {
  margin: 8rem 0;
}

.line-chart-container {
  background-color: #fff;
  border-radius: 10px;
  margin: 0 4rem;
  padding: 2rem;
  overflow: hidden;
}

.content-wrapper {
}

.chart-left-content .accordion-button.collapsed {
  background-color: transparent;
  color: black;
  border-radius: 10px;
  font-family: var(--font-ExCharis);
}

.chart-left-content {
  flex: 1;
  padding: 1.5rem;
  background: #eff3f6;
  border-radius: 7px;
}

.chart-left-content .accordion-item {
  border: none;
  background: transparent;
}

.chart-left-content .accordion-button {
  background: #2042b6;
  font-size: 1.8rem;
  color: #fff;
  border-radius: 8px !important;
  font-family: var(--font-ExCharis);
}
.chart-left-content .accordion-button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.accordion-body p {
  font-size: 1.1rem;
}

.chart-right-content {
  flex: 4;
  padding-top: 1rem;
}

.chart-boxs {
  background-color: #f3f3f3;
  padding: 1rem;
  border-radius: 10px;
}
.chart-boxs h4 {
  color: #fc714d;
  font-size: 3rem;
  font-family: var(--font-ExCharis);
}
.chart-boxs div p {
  font-size: 1.4rem;
  margin-bottom: 0;
  color: #111;
  font-weight: 500;
}

.chart-boxs div {
  border-right: 4px solid #fc714d;
  padding-right: 9px;
}
.right-mid-contnet {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.twobox div {
  border-color: #615de3;
}
.twobox h4 {
  color: #615de3;
}

.threebox div {
  border-color: #7ca63a;
}
.threebox h4 {
  color: #7ca63a;
}
.fourebox div {
  border-color: #6f34a1;
}

.selected-min-content .select-box select {
  width: 240px;
  border-radius: 50px;
  background-color: #2042b6;
  color: #fff;
  font-family: inherit;
  font-size: 1.7rem;
  position: relative;
  outline: none;
  border: none;
  height: 30px;
  line-height: 2rem;
  padding-left: 2rem;
  border: none;
  font-weight: 300;
}

.selected-min-content .form-select {
  --bs-form-select-bg-img: url('../img/arrow_drop_down.png');
  display: block;
  background-position: 200px 9px;
  width: 100%;
  margin-right: 10px;
}

.selected-pageInation .pagination {
  background: #eff3f6;
  padding: 10px 70px;
  border-radius: 50px;
  gap: 1rem;
  padding-right: 10px;
}
.selected-pageInation .page-link {
  border: none;
  background: transparent;
  color: #748da1;
  font-size: 1.7rem;
}
.selected-pageInation .page-item .page-link {
  border-radius: 40px;
  padding: 8px 20px;
}

.selected-pageInation .page-item.active .page-link {
  background-color: #2042b6;
  box-shadow: 0px 4px 6px 0px #0000001f;
}

.selected-pageInation .page-item.active .page-link {
  color: #fff;
}
.chat-btn div span:nth-child(1) {
  width: 10px;
  height: 10px;
  background: #222;
  display: inline-block;
}

.chat-btn div span {
  font-size: 1.3rem;
}

.Area {
  display: flex;
  align-items: end;
  justify-items: center;
}
.content-area {
  margin: auto;
  text-align: center;
  position: relative;
  width: 100%;
}
.content-area img {
  mix-blend-mode: multiply;
  margin: auto;
}

.content-area img:nth-child(2) {
  position: absolute;
  mix-blend-mode: inherit;
  left: 0;
  right: 0;
}

.content-title {
  position: absolute;
  width: 100%;
  top: 45%;
}
.content-title h1 {
  font-size: 8rem;
  font-family: var(--font-ExCharis);
  text-align: center;
  color: #fff;
}

.content-title p {
  font-size: 2.2rem;
  color: #fff;
}

.h-count-content {
  width: max-content;
  padding-left: 5rem;
  min-width: max-content;
}
.c-countt-content {
  margin-bottom: 5rem;
}

.c-countt-content h5 {
  font-size: 3.6rem;
  font-weight: 400;
  font-family: var(--font-ExCharis);
  color: #fff;
}
.c-countt-content p {
  font-size: 1.8rem;
  color: rgba(205, 205, 205, 1);

  font-weight: 300;
}
.arrow-down {
  position: absolute;
  right: 2%;
  bottom: 5%;
}
.arrow-down a {
  display: block;
  background-color: #fff;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 24px 24px 0px #0000005c;
  cursor: pointer;
}

.list-com-container {
  background-color: #fff;
  border-radius: 10px;
  margin: 0 4rem;
  padding: 3rem;
}

.list-title h2 {
  font-family: var(--font-ExCharis);
  font-size: 4.8rem;
}

.List-Companies {
  margin: 12rem 0;
}

.search-list form {
  background-color: #dadada;
  width: 588px;
  border-radius: 8px;
}
.search-list form input {
  padding: 2rem;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  font-size: 2rem;
  font-family: var(--font-ExCharis);
}
.search-list form input::placeholder {
  color: #111;
}
.tabelformData {
  margin-top: 4rem;
  overflow: auto;
  height: 470px;
}

.tabelformData::-webkit-scrollbar {
  width: 8px;
}
.tabelformData::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.tabelformData::-webkit-scrollbar-thumb {
  background: #2042b6;
  border-radius: 10px;
}
.tabelformData::-webkit-scrollbar-thumb:hover {
  background: #2042b6;
}

.tabelformData::-webkit-scrollbar-thumb:horizontal {
  background: #2042b6;
  border-radius: 10px;
}

.tabelformData::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: f1f1f1;
}

.list-com-container {
  box-shadow: 0px 66px 66px 0px #0000000a;
}

.tabelformData table {
  width: 99%;
}
.tabelformData table th,
.tabelformData table td {
  font-size: 1.6rem;
}
.tabelformData table tbody tr {
  margin-bottom: 1rem;
}

.tabelformData table tbody tr:nth-child(1) th {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
}
.tabelformData table tbody tr:nth-child(1) th:nth-child(1) {
  font-weight: 600;
}
.tabelformData table tbody tr td:first-child {
  width: 300px;
}

th,
td {
  text-align: left;
  padding: 8px;
  font-family: var(--font-ExCharis);
}

.tabelformData table tbody tr:nth-child(even) {
  background: #f3f3f3;
  border-radius: 5px;
}

.downlod-Data-btn a {
  outline: none;
  background-color: #2042b6;
  color: #fff;
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.6rem;
  box-shadow: 0px 24px 36px 0px #00000040;
  border-radius: 50px;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

.state-container {
  max-width: 88%;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: auto;
  margin-top: 0rem;
}

.state-heading h2 {
  font-family: var(--font-ExCharis);
  font-size: 4.8rem;
}
.state-heading p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
}
.select-box select {
  width: 200px;
  border-radius: 50px;
  background-color: #2042b6;
  color: #fff;
  font-family: var(--font-ExCharis);
  font-size: 4rem;
  position: relative;
  outline: none;
  border: none;
  height: 60px;
  line-height: 4rem;
  padding-left: 2rem;
  border: none;
  font-weight: 300;
}
.select-box select option {
  font-weight: 300;
}
.form-select {
  --bs-form-select-bg-img: url('../img/arrow_drop_down.png');
  display: block;
  background-position: 150px 25px;

  width: 100%;
  margin-right: 10px;
}
.Slider {
  max-width: 93.5%;
  margin-top: 2rem;
  margin-left: auto;
}

.state-USA {
  position: relative;
  background-image: url('../img/Slide-bg.png');
  background-repeat: no-repeat;
  background-position: 75% 0px;
  padding-bottom: 75px;
}
.slide-img {
  padding-left: 0rem;
  padding-right: 5rem;
}

.slide-img img {
  width: 100%;
}

.Slider .slick-arrow {
  outline: none;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  color: #2042b6;
  border-radius: 50%;
  font-size: 2.3rem;
  box-shadow: 0px 36px 36px 0px #0000001f;
  position: absolute;
  bottom: -8rem;
  left: 5rem;
}

.Slider .slick-arrow.nextArrow {
  left: 13rem;
}
.w-futurelist,
.w-Stories,
.about-container,
.state-content {
  width: 100%;
  padding: 0 3rem;
  margin: 8rem 0;
}

.state-content {
  margin-bottom: 0;
}

.head-content {
  max-width: 60%;
  margin-left: 15rem;
  margin-bottom: 3rem;
}
.head-content h2 {
  font-size: 4.8rem;
  font-family: var(--font-ExCharis);
}

.head-content p {
  font-size: 1.7rem;
}

.item-box {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
.bar-hr {
  max-width: 83%;

  margin: auto;
}

.w-Stories {
  margin: 15rem 0;
  margin-bottom: 0;
}

.stories-box {
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 12rem;
}
.m-container {
  max-width: 88%;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: auto;
  margin-top: 10rem;
}

.stories-box img {
  width: 170px;
  object-fit: cover;
  margin-top: -80px;
}
.box-content-stories {
  max-width: 70%;
  padding-left: 1.4rem;
  padding-bottom: 3rem;
}
.box-content-stories h5 {
  color: #2042b6;
  font-size: 1.7rem;
}

.box-content-stories p {
  font-size: 1.7rem;
  font-family: var(--font-ExCharis);
  margin-top: 1rem;
}
.box-content-stories a {
  background-color: #2042b6;
  display: inline-block;
  padding: 4px 15px;
  border-radius: 40px;
  font-weight: 300;
  color: #ffff;
  font-size: 1.7rem;
  margin-top: 1rem;
  text-decoration: none;
}

.about-content {
  background-color: #fff;
  border-radius: 12px;
}

.about-left h2 {
  font-weight: 500;
  font-size: 4.8rem;

  font-family: var(--font-ExCharis);
}
.about-left h3 {
  color: #7d7f81;
  font-size: 3rem;
  font-family: var(--font-ExCharis);
}
.about-left p {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  max-width: 78%;
}
.about-left a {
  outline: none;
  background-color: #2042b6;
  color: #fff;
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.6rem;
  box-shadow: 0px 24px 36px 0px #00000040;
  border-radius: 50px;
  text-decoration: none;
}
.about-left {
  max-width: 55%;
  margin: auto;
}

.Portfolio-content {
  width: 100%;
  padding: 0 3rem;
  margin: 8rem 0;
}

.header-title h2 {
  font-size: 4.8rem;
  margin-bottom: 2rem;
  font-family: var(--font-ExCharis);
}

.Portfolio-box {
  background-color: #fff;
  border-radius: 0.7rem;
  height: 12rem;
  margin-bottom: 1.8rem;
}

.footer-content {
  background-color: #e6e6e6;
  min-height: 760px;
}

/* .Portfolio-content .row .col-lg-2 {
  width: 20%;
} */

.footer-m-container {
  max-width: 88%;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: auto;
  margin-top: 10rem;
  min-height: 760px;
}

.footer-inner-content {
  width: 100%;
  padding: 4rem 3rem;
  /* margin: 8rem 0; */
  display: flex;
  justify-content: space-between;
  min-height: 760px;
}

.footer-left {
  flex: 3;
}
.footer-left h3 {
  margin-top: 3rem;
  padding-right: 15rem;
}

.footer-menu {
  flex: 1;
  margin-top: 3rem;
}

.Contact-info {
  flex: 2;
}
.footer-left h3 {
  font-size: 4.8rem;
  font-family: var(--font-ExCharis);
  font-weight: 400;
}

.footer-left p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.copywrite p {
  color: #9fa0a1;
  font-size: 1.4rem;
}
.copywrite a {
  color: #9fa0a1;
  font-size: 1.4rem;
  text-decoration: none;
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .Portfolio-content .row .col-lg-2 {
    width: 20%;
  }
}

.footer-menu h4 {
  color: #7d7f81;
  font-size: 2rem;
}

.footer-menu ul li {
  list-style: none;
  margin: 1rem 0;
}
.footer-menu ul li a {
  color: #2042b6;
  font-size: 1.6rem;
  text-decoration: none;
}

.contact-addresss {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.Contact-info hr {
  color: #9fa0a1;
  background-color: #9fa0a1;
  height: 2px;
  max-width: 80%;
}
.contact-addresss h3 {
  font-size: 2rem;
}
.contact-addresss p {
  font-size: 1.8rem;
}

.slider-bottom-content {
  max-width: 88%;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: auto;
}
.slider-bottom-content .wrapper-slider-control {
  width: 100%;
}

.slide-b-ri-btn a {
  outline: none;
  background-color: #2042b6;
  color: #fff;
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.6rem;
  box-shadow: 0px 24px 36px 0px #00000040;
  border-radius: 50px;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.slide-control-page {
  margin-top: 2.7rem;
}

.slide-control-page {
  margin-left: 12%;
  flex-basis: 20%;
}
.slide-control-page p {
  font-size: 1.6rem;
  width: 70px;
  margin: 0;
}

.slide-control-page .select-box select {
  font-size: 1.5rem;
  background: #fff;
  color: #000000;
  font-family: inherit;
  box-shadow: 0px 24px 36px 0px #00000040;
  width: 150px;
  font-weight: 400;
  height: 50px;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 0;
}

.social {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.right-top-content h2 {
  font-family: var(--font-ExCharis);
  font-size: 3.6rem;
}
